#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* App.css */

.Cakes{
  color: #4b0836;
  font-size: 90px;
  font-style: italic;
  box-shadow: 3px 3px 5px #910A67;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cakes-container,
.cookies-container {
  flex: 1;
  margin: 0 10px;
  
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  
}

.card{
  box-shadow:  4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(128, 0, 128, 0.5); /* Example shadow */
  border-Radius: "20px",
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  /* right:10%; */
  width: 95%; /* Full width */
  height: 10vh; /* 20% of the viewport height */
  background-color: #333; /* Example background color */
  color: #fff;
}

/* Content Styles */
.content {
  margin-top: 15vh; /* Ensure content does not overlap with navbar */
  /* height: 80vh; Take up remaining 80% of the viewport height */
  height: 100%;
  width: 100%;
  padding: 20px; /* Example padding */
  box-sizing: border-box; /* Include padding in height calculation */
}


