#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* App.css */

.title {
  text-align: center;
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cakes-container,
.cookies-container {
  flex: 1;
  margin: 0 10px;
  
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  border: 2px solid transparent; /* Initial transparent border */
  border-image: linear-gradient(to right, #ff69b4, #800080); /* Gradient border */
  border-image-slice: 1; /* Ensures the gradient covers the entire border */
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.card img {
  width: 100%; /* Set the width to 100% */
  height: auto; /* Maintain aspect ratio */
  max-height: 200px; /* Set the maximum height */
}



body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 10vh; /* 20% of the viewport height */
  background-color: #333; /* Example background color */
  color: #fff;
}

/* Content Styles */
.content {
  margin-top: 20vh; /* Ensure content does not overlap with navbar */
  height: 80vh; /* Take up remaining 80% of the viewport height */
  padding: 20px; /* Example padding */
  box-sizing: border-box; /* Include padding in height calculation */
}

/* Additional Styles */
/* You can add more styles as needed */
