body {
  background-size: cover; /* Ensures the background image covers the entire viewport */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  background-position: center center; /* Centers the background image */
  background-attachment: fixed; /* Fixes the background image in place while allowing scrolling */
  /* background-image:url('https://img.freepik.com/premium-photo/ai-generated-image-wood-perfect-background_470178-23326.jpg'); */
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20231231/pngtree-vintage-rustic-background-faded-wood-texture-with-peeling-pink-purple-and-image_13874051.png");
 
  margin: 0; /* Removes default body margin */
  padding: 0; /* Removes default body padding */
  height: 100vh; /* Sets the body height to the full viewport height */
}

/* Additional styling */
/* You can add more styles as needed */
