.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 100%; /* Ensure navbar doesn't exceed viewport width */
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20231231/pngtree-vintage-rustic-background-faded-wood-texture-with-peeling-pink-purple-and-image_13874051.png');
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5); /* 50% translucent white */
  color: #fff;
  border: 2px solid transparent; /* Initial transparent border */
  border-image: linear-gradient(to right, #ff69b4, #800080); /* Gradient border */
  border-image-slice: 1; /* Ensures the gradient covers the entire border */
  margin: 20px;
}


.navbar-logo img {
  width: 100px; /* Adjust as per your logo's size */
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-item {
  display: inline-block;
  margin-right: 20px;
}

.logo {
  width: 50px; /* Adjust size as needed */
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.link-text {
  display: block;
}

.navbar-item:hover .logo {
  transform: rotate(360deg);
}
